<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chrono</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <div class="digit">
    <ion-badge class="patate">{{myTimer.heures   | twoDigit}}</ion-badge>
    <ion-badge class="patate">{{myTimer.minutes  | twoDigit}}</ion-badge>
    <ion-badge class="patate">{{myTimer.secondes | twoDigit}}</ion-badge>
  </div>
  <div class="action">

    <button class="btn btn-danger btn-lg"
    *ngIf="myState.backward"
    (click)="backward()">Effacer</button>

    <button class="btn btn-danger btn-lg"
    *ngIf="myState.stop"
    (click)="stop()">Arreter</button>

    <button class="btn btn-primary btn-lg"
    *ngIf="myState.play"
    (click)="start()">{{btnPlay}}</button>

  </div>
</ion-content>
