<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minuteur</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <br>
  <div class="digit" text-center>
    <ion-input [(ngModel)]="timer.minutes" class="ecran label label-default"></ion-input>
    <ion-input [(ngModel)]="timer.secondes" class="ecran label label-default"></ion-input>
  </div>

  <div class="action">

    <button ion-button class="r_patate"
    *ngIf="myState.backward"
    (click)="backward()">Effacer</button>

    <button ion-button class="r_patate"
    *ngIf="myState.stop"
    (click)="stop()">Arreter</button>

    <button ion-button
    *ngIf="myState.play"
    (click)="start()">{{btnPlay}}</button>

  </div>
</ion-content>
