page-horloge {
  .p_patate{
    font-size: 30px;
  }
  .patate{
    font-size: 60px;
  }
  .digit{
    font-family:    'Orbiton, sans-serif';
    font-size:      5em;
    margin:         15px;
    padding:        5px;
  }
  .action{
    padding-top:    25px;
    padding-bottom: 15px;
  }
}
